.container
	h1.cmsuniversidad-titulo.cmsuniversidad-titulo--aliados NUESTROS ALIADOS
	.aliados__listado
		.aliados__item
			a(href="#")
				img(src="images/icono-referencial-aliado-1.png", class="img-responsive")
		.aliados__item
			a(href="#")
				img(src="images/icono-referencial-aliado-2.png", class="img-responsive")
		.aliados__item
			a(href="#")
				img(src="images/icono-referencial-aliado-3.png", class="img-responsive")
		.aliados__item
			a(href="#")
				img(src="images/icono-referencial-aliado-4.png", class="img-responsive")
		.aliados__item
			a(href="#")
				img(src="images/icono-referencial-aliado-5.png", class="img-responsive")
		.aliados__item
			a(href="#")
				img(src="images/icono-referencial-aliado-6.png", class="img-responsive")
