.container
	.row
		.col-md-12.col-lg-9
			h1.cmsuniversidad-titulo.cmsuniversidad-titulo--categorias CATEGORIAS DISPONIBLES
			h3.categorias__subtitulo APRENDE SEGÚN TU ÁREA DE INTERÉS
			.categorias__listado
				.categorias__item
					img(src="images/icono-categoria-1.png", class="categorias__img")
					p.categorias__nombre
						a(href="#") CATEGORÍA 1
				.categorias__item
					img(src="images/icono-categoria-2.png", class="categorias__img")
					p.categorias__nombre
						a(href="#") CATEGORÍA 2
				.categorias__item
					img(src="images/icono-categoria-3.png", class="categorias__img")
					p.categorias__nombre
						a(href="#") CATEGORÍA 3
				.categorias__item
					img(src="images/icono-categoria-4.png", class="categorias__img")
					p.categorias__nombre
						a(href="#") CATEGORÍA 4
				.categorias__item
					img(src="images/icono-categoria-5.png", class="categorias__img")
					p.categorias__nombre
						a(href="#") CATEGORÍA 5
				.categorias__item
					img(src="images/icono-categoria-6.png", class="categorias__img")

		.col-lg-3.d-none.d-lg-block
			aside.publicidad
				a(href="#")
					img(src="images/esmitecp.png", class="publicidad__img img-responsive")
				