h1.cmsuniversidad-titulo.cmsuniversidad-titulo--detalle NOMBRE CURSO

.detalle-curso__breadcrumb
  a.detalle-curso__tag(href="#") INICIO /
  a.detalle-curso__tag(href="#") CURSOS /
  a.detalle-curso__tag(href="#") CATEGORÍA 1

  p
    |Reseña del curso. Nunc congue risus eget consectetur fermentum. Morbi purus odio, gravida lacinia lobortis eget, egestas sit amet justo. Aliquam elit mauris, pretium in magna eu, rutrum pulvinar ex. Nam pulvinar vitae massa vitae ornare. Vestibulum porttitor enim in interdum cursus. Suspendisse molestie dignissim odio finibus porta. Integer tristique semper mollis. Etiam lobortis turpis ante, sit amet accumsan mi rutrum quis. Sed mollis lorem posuere sem volutpat lacinia.

  h2 Perfil Profesional

  ul
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar elementum auctor.
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar elementum auctor.
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar elementum auctor.

  h2 Contenido

  .contenido
    article.contenido__item
      h3.contenido__titulo NOMBRE DEL MODULO 1
      .contenido__descripcion
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
      .contenido__contenedor-boton
        .cmsuniversidad-boton.cmsuniversidad-boton--boton2
          a(href="#") Leer más

    article.contenido__item
      h3.contenido__titulo NOMBRE DEL MODULO 2
      .contenido__descripcion
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
        p.contenido__detalle Pellentesque bibendum ullamcorper mauris, eu posuere felis facilisis at.
      .contenido__contenedor-boton
        .cmsuniversidad-boton.cmsuniversidad-boton--boton2
          a(href="#") Leer más