button.boton-menu.d-lg-none(type='button', data-toggle='collapse', data-target='#menu-principal', aria-expanded='false')
  i.fa.fa-bars(aria-hidden='true')

form
  .inputAddOn
    input.inputAddOn__field(type="search", name="searchBox", placeholder="Búsqueda")
    button.inputAddOn__button
      i.fa.fa-search

nav.collapse.header__menu#menu-principal
  ul
    li.active
      a(href="#") Cursos
    li
      a(href="alianzas.html") Alianzas
    li
      a(href="nosotros.html") Nosotros
    li
      a(href="#") Soporte
    li
      a(href="blog.html") Blog

