section.header__destacado
	.container
		h1.cmsuniversidad-titulo TEXTO DESTACADO UNIVERSIDAD
		h2.cmsuniversidad-subtitulo ALGÚN TEXTO COMPLEMENTARIO
		.cmsuniversidad-boton.cmsuniversidad-boton--boton1
			a(href="#") Conócenos