.container
	.row
		.col-md-8.col-lg-9
			h1.cmsuniversidad-titulo.cmsuniversidad-titulo--actualidad ACTUALIDAD ACADÉMICA
			article.actualidad__item
				img(src="images/imagen-actualidad-academica.jpg",alt="Actualidad Académica", class="actualidad__img")
				.actualidad__contenido
					h2.actualidad__contenido--titulo TÍTULO DEL POST ACTUAL
					p.actualidad__contenido--descripcion
						|Resumen o breve reseña del contenido del post. Resumen o breve reseña del contenido del post. Resumen o breve reseña del contenido del post. Resumen o breve reseña del contenido del post.
					.cmsuniversidad-boton.cmsuniversidad-boton--boton2
						a(href="#") Leer más

		.col-md-4.col-lg-3
			aside.anunciantes
				article.hidden-xs.col-sm-12.col-md-12.anunciantes__item
					a(href="#")
						img(src="images/Banner1.png", alt="Banner 1", class="img-responsive")
				article.hidden-xs.col-sm-12.col-md-12.anunciantes__item
					a(href="#")
						img(src="images/Banner2.png", alt="Banner 2", class="img-responsive")
				article.hidden-xs.col-sm-12.col-md-12.anunciantes__item
					a(href="#")
						img(src="images/Banner3.png", alt="Banner 3", class="img-responsive")
