.container.d-flex.flex-wrap.justify-content-between
	h1.cmsuniversidad-titulo.cmsuniversidad-titulo--cursos CURSOS DESTACADOS

	article.cursos__item
		img(src="images/imagen-curso-1.jpg", class="cursos__img")
		.cursos__contenido
			h3.cursos__contenido--titulo NOMBRE DEL CURSO
			p.cursos__contenido--descripcion
				|Breve descripción de los objetivos y contenido del curso
			p.cursos__contenido--descripcion
				|Phasellus quis mollis diam. Morbi ut enim vitae leo placerat egestas. Suspendisse potenti. Nunc dapibus convallis libero sit amet vestibulum. Quisque sit amet est quis turpis rutrum ullamcorper sit amet id purus. Donec eget turpis elit. Aenean quis lorem aliquam, dignissim nulla a, euismod orci.
			p.cursos__contenido--txt-complementario TEXTO COMPLEMENTARIO
		.cmsuniversidad-boton.cmsuniversidad-boton--boton2
			a(href="#") APRENDER MAS

	article.cursos__item
		img(src="images/imagen-curso-2.jpg", class="cursos__img")
		.cursos__contenido
			h3.cursos__contenido--titulo NOMBRE DEL CURSO
			p.cursos__contenido--descripcion
				|Breve descripción de los objetivos y contenido del curso
			p.cursos__contenido--txt-complementario TEXTO COMPLEMENTARIO
		.cmsuniversidad-boton.cmsuniversidad-boton--boton1
			a(href="#") APRENDER MAS

	article.cursos__item
		img(src="images/imagen-curso-3.jpg", class="cursos__img")
		.cursos__contenido
			h3.cursos__contenido--titulo NOMBRE DEL CURSO
			p.cursos__contenido--descripcion
				|Breve descripción de los objetivos y contenido del curso
			p.cursos__contenido--txt-complementario TEXTO COMPLEMENTARIO
		.cmsuniversidad-boton.cmsuniversidad-boton--boton3
			a(href="#") APRENDER MAS
