.footer {
  background: $azul-claro;
  border-top: 6px solid $amarillo-universidad;
  color: #fff;
  font-family: $montserrat-font;
  font-size: em(14);
  padding: 1em;
  position: relative;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    right: 0;
    top: -6px;
    border-top: 6px solid $azul-oscuro;
  }
  &__logo {
    flex-basis: 100%;
    margin-bottom: 1rem;
    @include media(md) {
      flex-basis: calc(25% - 0.5rem);
    }
  }
  &__acerca, &__categorias, &__contacto {
    flex-basis: 100%;
    @include media(sm) {
      border-right: 1px solid $azul-ligero;
      flex-basis: calc(33.33% - 0.5rem);
      padding: 0 1rem;
    }
    @include media(md) {
      flex-basis: calc(25% - 0.5rem);
    }
  }

  &__titulo {
    color: #fff;
    font-family: $montserrat-font;
    font-size: em(16);
    font-weight: 600;
    margin: 1em auto;
    @include media(sm) {
      font-weight: bold;
    }
  }

  &__menu {
    &__item {
      display: block;
      margin: 0.5em auto;
    }
    &__link {
      color: darken(#fff, 10%);
      font-size: 0.9em;
      &:hover {
        color: $amarillo-universidad;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  // Informacion de contacto
  &__contacto {
    border: none;
    color: darken(#fff, 10%);
    font-family: $montserrat-font;
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1rem;
    p {
      margin: 0;
      text-align: center;
    }
  }
  // Copyright
  &__copyright {
    flex-basis: 100%;
    color: $texto-copyright;
    font-family: $montserrat-font;
    font-size: 0.9em;
    line-height: 1.3;
    margin-top: 1em;
    text-align: center;
  }
}
