section.suscripcion.py-5
	.container.text-center.mb-5
		h1.suscripcion__titulo APRENDE HOY MISMO
		h2.suscripcion__subtitulo TEXTO COMPLEMENTARIO

		.cmsuniversidad-boton.cmsuniversidad-boton--boton1
			a(href="#") EMPIEZA AHORA

	include ../_aliados
