.conocenos
	.container.d-flex.flex-column.align-items-center.py-5
		.conocenos__texto
			h1.conocenos__titulo FÓRMATE CON NOSOTROS			
			P.conocenos__descripcion.my-3
				|Algún texto complementario destacando las ventajas de la universidad CAMERSUR. Algún texto complementario destacando las ventajas de la universidad CAMERSUR. Algún texto complementario destacando las ventajas de la universidad CAMERSUR. 			
		