.mision.py-5
	.container
		.row
			.col-sm-7
				article.mision__mision
					h1.cmsuniversidad-titulo.cmsuniversidad-titulo--aliados MISIÓN
					P
						|CAMERSUR es una cámara de comercion virtual que proporciona conexiones comerciales, sociales y educativas a nivel mundial para incrementar el negocio entre nuestros miembros.
				article.mision__vision
					h1.cmsuniversidad-titulo.cmsuniversidad-titulo--detalle VISIÓN
					P
						|Ser referencia en escenarios internacionales, dentro de la participación comercial, impulsando acuerdos económicos, sociales y educativos.			
			.col-sm-5
				article.mision__objetivos
					h1.cmsuniversidad-titulo.cmsuniversidad-titulo--actualidad OBJETIVOS
					ul
						li
							|Fomentar asociaciones y alianzas estratégicas entre los distintos actores de la economía internacional, que se traduzcan en sinergias.
						li
							|Facilitar la comunicación entre sus miembros y los distintos entes involucrados en el proceso emprendedor y en el desarrollo económico y social de América Latina y El Caribe.
