.modalidad
  .modalidad__item
    .col1
      h2.modalidad__opcion MODALIDAD
      p.modalidad__descripcion A Distancia
    .col2
      button.modalidad__item__boton(type="button") Ver más
  .modalidad__item
    .col1
      h2.modalidad__opcion DURACIÓN
      p.modalidad__descripcion xx Horas
    .col2
      button.modalidad__item__boton(type="button") Ver más
  .modalidad__item
    .col1
      h2.modalidad__opcion HORARIOS
      p.modalidad__descripcion Flexibles
    .col2
      button.modalidad__item__boton(type="button") Ver más
  .modalidad__item
    .col1
      h2.modalidad__opcion INVERSIÓN
      p.modalidad__descripcion $ XXX
    .col2
      button.modalidad__item__boton(type="button") Ver más

  button.modalidad__boton(type="button") EMPIEZA AHORA

.profesores
  h1.profesores__titulo PROFESORES
  h3.profesores__subtitulo LOS MEJORES EXPERTOS
  .profesores__item
    img.profesores__img(src="images/ProfesorDetalleCurso1.png", alt="profesor 1")
    .profesores__descripcion
      h2.profesores__nombre NOMBRE ABC1
      h3.profesores__profesion PROFESION
  .profesores__item
    img.profesores__img(src="images/ProfesorDetalleCurso2.png", alt="profesor 1")
    .profesores__descripcion
      h2.profesores__nombre NOMBRE ABC2
      h3.profesores__profesion PROFESION
  .profesores__item
    img.profesores__img(src="images/ProfesorDetalleCurso3.png", alt="profesor 1")
    .profesores__descripcion
      h2.profesores__nombre NOMBRE ABC3
      h3.profesores__profesion PROFESION