extends layout/layout

block content
  section.cmsuniversidad-publicidad.d-none.d-sm-block
    .container.text-center
      a(href="http://www.camersur.com", target="_blank")
        img(src="images/Banner5.png", alt="Banner publicitario", class="img-fluid")

  section.alianzas.my-5
    .container
      h1.cmsuniversidad-titulo.cmsuniversidad-titulo--aliados NUESTROS ALIADOS
      p
        |Algún texto describiendo las ventajas de las alianzas. Algún texto describiendo las ventajas de las alianzas. Algún texto describiendo las ventajas de las alianzas. Algún texto describiendo las ventajas de las alianzas
      section.aliados
        article.aliados__item
          .aliados__img
            img(src="images/icono-referencial-aliado-1.png", alt="")
          .aliados__texto
            h2.aliados__titulo NOMBRE DEL ALIADO
            p.aliados__descripcion
              |Breve descripción/historia del aliado. Breve descripción/historia del aliado.
            .aliados__url
              a(href="#", target="_blank", alt="") www.webdelaliado.com
        article.aliados__item
          .aliados__img
            img(src="images/icono-referencial-aliado-2.png", alt="")
          .aliados__texto
            h2.aliados__titulo NOMBRE DEL ALIADO
            p.aliados__descripcion
              | Breve descripción/historia del aliado. Breve descripción/historia del aliado.
            .aliados__url
              a(href="#", target="_blank", alt="") www.webdelaliado.com
        article.aliados__item
          .aliados__img
            img(src="images/icono-referencial-aliado-3.png", alt="")
          .aliados__texto
            h2.aliados__titulo NOMBRE DEL ALIADO
            p.aliados__descripcion
              | Breve descripción/historia del aliado. Breve descripción/historia del aliado.
            .aliados__url
              a(href="#", target="_blank", alt="") www.webdelaliado.com
        article.aliados__item
          .aliados__img
            img(src="images/icono-referencial-aliado-4.png", alt="")
          .aliados__texto
            h2.aliados__titulo NOMBRE DEL ALIADO
            p.aliados__descripcion
              | Breve descripción/historia del aliado. Breve descripción/historia del aliado.
            .aliados__url
              a(href="#", target="_blank", alt="") www.webdelaliado.com
        article.aliados__item
          .aliados__img
            img(src="images/icono-referencial-aliado-5.png", alt="")
          .aliados__texto
            h2.aliados__titulo NOMBRE DEL ALIADO
            p.aliados__descripcion
              | Breve descripción/historia del aliado. Breve descripción/historia del aliado.
            .aliados__url
              a(href="#", target="_blank", alt="") www.webdelaliado.com