extends layout/layout

block content
	// Seccion de conocenos + video
	include partials/nosotros/_conocenos

	// Seccion de mision, vision y objetivos
	include partials/nosotros/_mision

	// Seccion de nuestros servicios
	include partials/nosotros/_servicios

	// Seccion de probado y recomendado
	include partials/nosotros/_aprende